.main{

    background-color: aqua;
    /* height: 485px; */
    /* width: 550px; */
    margin: 20px;
}

.row{
    display: flex;
    justify-content: center;
}
input{
    width: 230px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}